@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Open Sans", sans-serif !important;
}

body {
  background-color: var(--background);
  color: var(--onSurface);
}

p {
  font-size: 13px;
}

.app {
  display: flex;
  flex-direction: row;
  position: relative;
}

.container-main {
  flex: 1
}

.page-main {
  padding-top: 24px;
  padding-bottom: 24px;
}

@media screen and (min-width: 600px) {
  .page-main {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .MuiContainer-root {
    padding-left: 40px !important;
    padding-right: 40px !important;
  }
}

.arrow-but,
.arrow-but-drop-down {
  display: flex;
  margin-left: auto;
  margin-right: 1rem;
  transform: rotate(-180deg);
}

.arrow-but-drop-down {
  margin-right: 0;
}

.arrow-but.__arrow-but__rotate,
.arrow-but-drop-down.__arrow-but-drop-down__rotate {
  transform: rotateX(0deg);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollBar);
  border: 6px solid transparent;
  border-radius: 8px;
  background-clip: padding-box;
}

::-webkit-scrollbar {
  cursor: pointer !important;
  width: 16px;
  height: 16px;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-moz-selection {
  -webkit-text-fill-color: rgb(228, 225, 230) !important;
  color: rgb(228, 225, 230) !important;
  background: var(--primary);
}

::selection {
  -webkit-text-fill-color: rgb(228, 225, 230) !important;
  color: rgb(228, 225, 230) !important;
  background: var(--primary);
}

.MuiSvgIcon-root {
  color: var(--onSurface);
}

.MuiTooltip-tooltip {
  background-color: var(--elevation-level4) !important;
  color: var(--onSurface) !important;
  box-shadow: 0 0 0.465rem var(--boxShadow) !important;
  padding: 8px 12px !important;
  border-radius: 10px !important;
}

.MuiLoadingButton-loading {
  pointer-events: all !important;
  cursor: not-allowed !important;
}

.MuiButton-containedPrimary.MuiLoadingButton-loading {
  color: transparent !important;
  background-color: var(--primary) !important;
}

.MuiButton-containedPrimary .MuiLoadingButton-loadingIndicator {
  color: rgb(228, 225, 230) !important;
}

.MuiButton-text .MuiLoadingButton-loadingIndicator {
  color: var(--onSurface) !important;
}

.MuiButton-textError .MuiLoadingButton-loadingIndicator {
  color: rgba(211, 47, 47) !important;
}

.MuiButton-containedSecondary:hover {
  background-color: var(--elevation-level6) !important;
}

.MuiButton-containedSecondary.MuiLoadingButton-loading {
  color: transparent !important;
  background-color: var(--secondaryContainer) !important;
}

.MuiButton-containedSecondary .MuiLoadingButton-loadingIndicator {
  color: var(--onSurface) !important;
}

.MuiButton-containedError.MuiLoadingButton-loading {
  color: transparent !important;
  background-color: rgba(211, 47, 47) !important;
}

.MuiButton-containedError .MuiLoadingButton-loadingIndicator {
  color: rgb(228, 225, 230) !important;
}

.MuiButton-root:not(.MuiButton-text) {
  box-shadow: none !important;
}

.MuiButton-root {
  min-height: 45px !important;
  padding: 8px 16px !important;
  border-radius: 8px !important;
  text-transform: none !important;
}

.MuiButton-containedPrimary {
  color: rgb(228, 225, 230) !important;
}

.MuiButton-containedPrimary .MuiSvgIcon-root {
  color: rgb(228, 225, 230) !important;
}

.MuiIconButton-root:hover {
  background-color: var(--elevation-level6) !important;
}

.MuiIconButton-root.primary {
  background-color: var(--primary) !important;
  box-shadow: 0 0 0.625rem var(--boxShadow) !important;
  color: rgb(228, 225, 230) !important;
}

.MuiIconButton-root.primary:hover {
  background-color: var(--primaryHover) !important;
}

.MuiDialog-container .MuiDialog-paper {
  border-radius: 10px !important;
  width: 600px;
  background-color: var(--background) !important;
  color: var(--onSurface) !important;
}

.MuiAutocomplete-root .MuiIconButton-root {
  color: var(--onSurface) !important;
}

.MuiPopover-paper {
  background-color: var(--elevation-level2) !important;
  color: var(--onSurface) !important;
  box-shadow: 0 0 1rem var(--boxShadow) !important;
}

.MuiListItem-root .MuiButtonBase-root {
  border-radius: 8px
}

.MuiFormLabel-root.MuiInputLabel-root.Mui-focused {
  color: var(--onSurface) !important;
}

.MuiFormLabel-root.Mui-disabled {
  color: var(--outline) !important;
  opacity: .5;
}

.MuiTelInput-Flag img {
  border-radius: 4px !important;
  border: 1px solid var(--elevation-level6);
}

input,
textarea {
  font-size: 13px !important;
  color: var(--onSurface);
  -webkit-text-fill-color: var(--onSurface);
  caret-color: var(--onSurface);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px var(--elevation-level2) inset !important;
  border-radius: 10px !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.MuiDrawer-paper {
  color: var(--onSurface) !important;
  width: 280px !important;
  overflow: hidden !important;
}

.MuiChip-root {
  font-size: 0.7125rem !important;
  font-weight: 700;
  border-radius: 8px !important;
  user-select: none !important;
}

.MuiChip-colorDefault {
  background-color: var(--surfaceVariant) !important;
  color: var(--onSurface) !important;
}

.MuiChip-deleteIcon {
  color: var(--onSurface) !important;
}

.MuiTypography-h3 {
  font-size: 1.6rem !important;
  font-weight: 600 !important;
}

.MuiTypography-h4 {
  font-size: 1.4rem !important;
  font-weight: 600 !important;
}

.MuiTypography-h5 {
  font-size: 1.125rem !important;
  font-weight: 600 !important;
}

.MuiTypography-h6 {
  font-size: 1rem !important;
}

.MuiAvatar-root {
  background-color: var(--surfaceVariant) !important;
}

.MuiAvatar-root .MuiSvgIcon-root {
  color: var(--onSurface);
}

.MuiDrawer-root .MuiPaper-root {
  border-radius: 0px !important;
}

.MuiPaper-root {
  color: var(--onSurface) !important;
  border-radius: 10px !important;
}

.MuiDialog-paper {
  box-shadow: rgba(0, 0, 0, 0.24) -40px 40px 80px -8px !important
}

.MuiPaper-elevation {
  box-shadow: 0 0 0.465rem var(--boxShadow) !important;
}

.MuiPaper-elevation1 {
  background-color: var(--elevation-level1) !important;
}

.MuiPaper-elevation2 {
  background-color: var(--elevation-level2) !important;
}

.MuiPaper-elevation3 {
  background-color: var(--elevation-level3) !important;
}

.MuiPaper-elevation4 {
  background-color: var(--elevation-level4) !important;
}

.MuiPaper-elevation5 {
  background-color: var(--elevation-level5) !important;
}

.MuiPaper-elevation6 {
  background-color: var(--elevation-level6) !important;
}

.MuiAlert-root.MuiAlert-colorError {
  background-color: rgb(211, 47, 47) !important;
  color: rgb(228, 225, 230) !important;
}

.MuiAlert-root.MuiAlert-colorError .MuiAlert-icon .MuiSvgIcon-root {
  color: rgb(228, 225, 230) !important;
}

.MuiTabs-root {
  display: flex;
  align-items: center;
}

.MuiTabs-scrollButtons {
  border-radius: 50% !important;
  width: 40px;
  height: 40px;
}

.MuiTabs-scrollButtons.Mui-disabled,
.MuiTablePagination-actions .MuiButtonBase-root.Mui-disabled,
.MuiPickersArrowSwitcher-root .MuiIconButton-root.Mui-disabled .MuiSvgIcon-root,
.MuiPagination-ul .MuiButtonBase-root.Mui-disabled {
  opacity: 0.2 !important;
}

.MuiGrid-root {
  margin-top: 0 !important;
}

.MuiSwitch-track {
  background-color: var(--outline) !important;
}

.MuiSwitch-switchBase.Mui-checked+.MuiSwitch-track {
  background-color: var(--primary) !important;
}

.MuiButtonBase-root:not(.MuiSwitch-switchBase) {
  transition: background-color 0.3s ease !important;
}

.MuiButtonBase-root.Mui-disabled:not(.MuiLoadingButton-loading) {
  opacity: .6;
  pointer-events: all !important;
  cursor: not-allowed !important;
  color: var(--onSurface) !important;
}

.MuiButtonBase-root.MuiTab-root {
  color: var(--outline) !important;
  min-height: 48px;
  flex-direction: row !important;
  gap: 10px !important;
  justify-content: center !important;
  text-transform: none !important;
  transition: color 0.3s ease !important;
}

.MuiButtonBase-root.MuiTab-root:hover {
  color: var(--onSurface) !important;
  background-color: transparent !important;
}

.MuiButtonBase-root.MuiTab-root>.MuiTab-iconWrapper {
  margin-bottom: 0 !important;
}

.MuiButtonBase-root.MuiTab-root.Mui-selected {
  color: var(--onSurface) !important;
}

.MuiTabs-indicator {
  height: 3px !important;
  background-color: var(--onSurface) !important;
  border-radius: 10px;
}

.MuiFormHelperText-root {
  font-weight: 500 !important;
  margin-bottom: 8px !important;
}

.MuiTableSortLabel-root {
  gap: 8px
}

.MuiTableSortLabel-root:hover,
.MuiTableSortLabel-root:focus {
  color: var(--onSurface) !important;
}

.MuiTableSortLabel-root.Mui-active,
.MuiTableSortLabel-icon,
.MuiTablePagination-root {
  color: var(--onSurface) !important;
}

.MuiTablePagination-root .MuiTablePagination-selectLabel,
.MuiTablePagination-root .MuiTablePagination-displayedRows {
  font-size: 13px;
}

.MuiTablePagination-root .MuiSelect-select {
  border-radius: 8px !important;
  font-size: 13px;
}

.MuiTablePagination-selectIcon {
  color: var(--onSurface) !important;
}

.MuiPickersToolbar-root .MuiTypography-root {
  color: var(--onSurface);
  text-transform: none;
  font-weight: 600;
}

.MuiPickersToolbar-root {
  background-color: var(--elevation-level2);
}

.MuiDayCalendar-header .MuiTypography-root,
.MuiDayCalendar-monthContainer .MuiDayCalendar-weekContainer .MuiPickersDay-root:not(.Mui-selected):not(.Mui-disabled) {
  color: var(--onSurface) !important;
}

.MuiDialogContent-root {
  border-radius: 10px;
}

.MuiDayCalendar-monthContainer .MuiPickersDay-root:not(.Mui-selected) {
  border-color: var(--outline);
}

.MuiPickersLayout-root .MuiDivider-root {
  border-color: transparent !important;
}

.MuiPickersLayout-root .MuiList-root {
  border-left: 2px solid var(--elevation-level5) !important;
}

.MuiPickersLayout-root .MuiList-root .MuiButtonBase-root {
  border-radius: 8px !important;
}

.MuiMultiSectionDigitalClock-root .MuiList-root::-webkit-scrollbar {
  display: none;
}

.MuiDialogActions-root {
  padding: 24px !important;
}

.MuiPickersToolbar-content .Mui-selected,
.MuiClock-clock .MuiClock-wrapper .MuiClockNumber-root:not(.Mui-selected) {
  color: var(--onSurface) !important;
}

.MuiPickersLayout-root .MuiPickersToolbar-root,
.MuiPickersLayout-root .MuiPickersLayout-root,
.MuiPickersLayout-root .MuiPickersLayout-contentWrapper,
.MuiPickersLayout-root .MuiPickersLayout-actionBar {
  background-color: var(--elevation-level2);
  border-radius: 8px;
}

.MuiDialogContent-root .MuiPickersLayout-root .MuiPickersToolbar-root,
.MuiDialogContent-root .MuiPickersLayout-root .MuiPickersLayout-root,
.MuiDialogContent-root .MuiPickersLayout-root .MuiPickersLayout-contentWrapper,
.MuiDialogContent-root .MuiPickersLayout-root .MuiPickersLayout-actionBar {
  background-color: var(--background);
  border-radius: 8px;
}

.MuiDialogContent-root .MuiPickersLayout-root .MuiPickersToolbar-root {
  padding-left: 8px;
  padding-right: 8px;
}

.MuiDialogContent-root .MuiPickersLayout-root .MuiPickersToolbar-root.MuiDateTimePickerToolbar-root>.MuiTypography-root:first-child {
  margin-left: 16px;
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.235;
  letter-spacing: 0.00735em;
}

.MuiDialogContent-root .MuiPickersLayout-root .MuiPickersLayout-contentWrapper .MuiDateCalendar-root {
  margin-top: 16px;
  background-color: rgba(0, 0, 0, .07);
  border-radius: 8px;
}

.MuiDialogContent-root .MuiPickersLayout-root .MuiPickersLayout-contentWrapper .MuiTabs-root {
  box-shadow: 0 -1px 0 0 inset var(--elevation-level5);
}

.MuiPickersDay-root.Mui-disabled {
  color: var(--onSurface) !important;
  opacity: .4 !important;
}

.MuiPagination-ul .MuiButtonBase-root:not(.Mui-selected) {
  color: var(--onSurface) !important;
}

.MuiPaginationItem-root.MuiPaginationItem-ellipsis {
  color: var(--outline) !important;
}

.MuiSkeleton-root {
  background-color: var(--outlineVariant) !important;
}

.MuiSkeleton-rounded {
  border-radius: 8px !important;
}

.apexcharts-xaxistooltip-bottom {
  padding: 8px 12px !important;
}

.apexcharts-xaxistooltip-bottom::before,
.apexcharts-xaxistooltip-bottom::after {
  border: none !important;
}

.apexcharts-tooltip,
.apexcharts-xaxistooltip-bottom {
  border: 0 !important;
  color: var(--onSurface) !important;
  background-color: var(--elevation-level4) !important;
  box-shadow: 0 0 0.465rem var(--boxShadow) !important;
  border-radius: 10px !important;
}

.apexcharts-tooltip-series-group {
  background-color: var(--elevation-level4) !important;
}

.apexcharts-tooltip .apexcharts-tooltip-title {
  padding: 8px 16px;
  font-size: 0.845rem !important;
  font-weight: 600 !important;
  text-align: center;
  background-color: var(--elevation-level2) !important;
  border-bottom: none !important;
}

.apexcharts-legend-series {
  display: flex !important;
  gap: 4px !important;
}

.apexcharts-legend {
  gap: 8px;
}

.apexcharts-legend .apexcharts-legend-text {
  font-size: 13px !important;
  color: var(--onSurface) !important;
  font-weight: 500 !important;
}

.apexcharts-legend-marker {
  border-radius: 50% !important;
}

.apexcharts-xcrosshairs {
  fill: var(--secondaryContainer);
}

.tiptap {
  padding: 16px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border: 2px solid var(--elevation-level5);
  outline: none;
  background-color: var(--elevation-level1);
  min-height: 320px;
  max-height: 320px;
  overflow: hidden;
  overflow-y: auto;
}

.tiptap-fullscreen .tiptap,
.tiptap-fullscreen .tiptap-menubar {
  border-radius: 0;
}

.tiptap-editor {
  flex: 1;
  overflow: hidden;
}

.tiptap-editor.fullscreen .tiptap {
  height: 100%;
  min-height: unset;
  max-height: unset;
}

.tiptap:hover {
  border-color: var(--outline);
}

.tiptap:focus-visible {
  border-color: var(--primary);
}

.tiptap p.is-editor-empty:first-child::before {
  color: var(--outline);
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
  font-weight: 400;
}

.MuiTooltip-popper-html hr,
.tiptap hr,
.table-cell-tiptap-editor hr {
  border: 1px solid var(--elevation-level6);
  margin: 16px 0;
}

.MuiTooltip-popper-html blockquote,
.tiptap blockquote,
.table-cell-tiptap-editor blockquote {
  border-left: 2px solid var(--elevation-level6);
  padding-left: 16px;
}

.MuiTooltip-popper-html a,
.tiptap a,
.table-cell-tiptap-editor a {
  color: var(--primary);
}

a {
  color: var(--onSurface);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}