:root {
    --primary: rgb(88, 101, 242);
    --primaryHover: rgb(61, 70, 169);
    --onPrimary: rgb(255, 255, 255);
    --primaryContainer: rgb(224, 224, 255);
    --onPrimaryContainer: rgb(0, 6, 104);
    --secondary: rgb(92, 93, 114);
    --onSecondary: rgb(255, 255, 255);
    --secondaryContainer: rgb(225, 224, 249);
    --onSecondaryContainer: rgb(25, 26, 44);
    --tertiary: rgb(240, 238, 250);
    --onTertiary: rgb(27, 27, 31);
    --tertiaryContainer: rgb(219, 213, 247);
    --onTertiaryContainer: rgb(27, 27, 31);
    --error: rgb(186, 26, 26);
    --onError: rgb(255, 255, 255);
    --errorContainer: rgb(255, 218, 214);
    --onErrorContainer: rgb(65, 0, 2);
    --background: rgb(255, 251, 255);
    --onBackground: rgb(27, 27, 31);
    --surface: rgb(255, 251, 255);
    --onSurface: rgb(27, 27, 31);
    --surfaceVariant: rgb(227, 225, 236);
    --onSurfaceVariant: rgb(70, 70, 79);
    --outline: rgb(119, 118, 128);
    --outlineVariant: rgb(199, 197, 208);
    --inverseSurface: rgb(48, 48, 52);
    --inverseOnSurface: rgb(243, 240, 244);
    --inversePrimary: rgb(189, 194, 255);
    --elevation-level0: transparent;
    --elevation-level1: rgb(246, 243, 252);
    --elevation-level2: rgb(240, 238, 250);
    --elevation-level3: rgb(235, 232, 248);
    --elevation-level4: rgb(233, 231, 248);
    --elevation-level5: rgb(229, 227, 247);
    --elevation-level6: rgb(213, 211, 228);
    --surfaceDisabled: rgba(27, 27, 31, 0.12);
    --onSurfaceDisabled: rgba(27, 27, 31, 0.38);
    --backdrop: rgba(48, 48, 56, 0.4);
    --boxShadow: rgba(110, 110, 110, 0.202);
    --scrollBar: rgb(111, 109, 109);
}

[data-theme='dark'] {
    --primary: rgb(88, 101, 242);
    --primaryHover: rgb(61, 70, 169);
    --onPrimary: rgb(255, 255, 255);
    --primaryContainer: rgb(45, 56, 169);
    --onPrimaryContainer: rgb(224, 224, 255);
    --secondary: rgb(197, 196, 221);
    --onSecondary: rgb(45, 47, 66);
    --secondaryContainer: rgb(68, 69, 89);
    --onSecondaryContainer: rgb(225, 224, 249);
    --tertiary: rgb(39, 39, 50);
    --onTertiary: rgb(228, 225, 230);
    --tertiaryContainer: rgb(57, 57, 84);
    --onTertiaryContainer: rgb(228, 225, 230);
    --error: rgb(255, 180, 171);
    --onError: rgb(105, 0, 5);
    --errorContainer: rgb(147, 0, 10);
    --onErrorContainer: rgb(255, 180, 171);
    --background: rgb(27, 27, 31);
    --onBackground: rgb(228, 225, 230);
    --surface: rgb(27, 27, 31);
    --onSurface: rgb(228, 225, 230);
    --surfaceVariant: rgb(70, 70, 79);
    --onSurfaceVariant: rgb(199, 197, 208);
    --outline: rgb(145, 144, 154);
    --outlineVariant: rgb(70, 70, 79);
    --inverseSurface: rgb(228, 225, 230);
    --inverseOnSurface: rgb(48, 48, 52);
    --inversePrimary: rgb(71, 82, 194);
    --elevation-level0: transparent;
    --elevation-level1: rgb(35, 35, 42);
    --elevation-level2: rgb(40, 40, 49);
    --elevation-level3: rgb(45, 45, 56);
    --elevation-level4: rgb(46, 47, 58);
    --elevation-level5: rgb(50, 50, 62);
    --elevation-level6: rgb(66, 67, 78);
    --surfaceDisabled: rgba(228, 225, 230, 0.12);
    --onSurfaceDisabled: rgba(228, 225, 230, 0.38);
    --backdrop: rgba(48, 48, 56, 0.4);
    --boxShadow: rgba(30, 30, 30, 0.627);
    --scrollBar: rgb(110, 107, 107);
}

[data-theme='light'] {
    --primary: rgb(88, 101, 242);
    --primaryHover: rgb(61, 70, 169);
    --onPrimary: rgb(255, 255, 255);
    --primaryContainer: rgb(224, 224, 255);
    --onPrimaryContainer: rgb(0, 6, 104);
    --secondary: rgb(92, 93, 114);
    --onSecondary: rgb(255, 255, 255);
    --secondaryContainer: rgb(225, 224, 249);
    --onSecondaryContainer: rgb(25, 26, 44);
    --tertiary: rgb(240, 238, 250);
    --onTertiary: rgb(27, 27, 31);
    --tertiaryContainer: rgb(219, 213, 247);
    --onTertiaryContainer: rgb(27, 27, 31);
    --error: rgb(186, 26, 26);
    --onError: rgb(255, 255, 255);
    --errorContainer: rgb(255, 218, 214);
    --onErrorContainer: rgb(65, 0, 2);
    --background: rgb(255, 251, 255);
    --onBackground: rgb(27, 27, 31);
    --surface: rgb(255, 251, 255);
    --onSurface: rgb(27, 27, 31);
    --surfaceVariant: rgb(227, 225, 236);
    --onSurfaceVariant: rgb(70, 70, 79);
    --outline: rgb(119, 118, 128);
    --outlineVariant: rgb(199, 197, 208);
    --inverseSurface: rgb(48, 48, 52);
    --inverseOnSurface: rgb(243, 240, 244);
    --inversePrimary: rgb(189, 194, 255);
    --elevation-level0: transparent;
    --elevation-level1: rgb(246, 243, 252);
    --elevation-level2: rgb(240, 238, 250);
    --elevation-level3: rgb(235, 232, 248);
    --elevation-level4: rgb(233, 231, 248);
    --elevation-level5: rgb(229, 227, 247);
    --elevation-level6: rgb(213, 211, 228);
    --surfaceDisabled: rgba(27, 27, 31, 0.12);
    --onSurfaceDisabled: rgba(27, 27, 31, 0.38);
    --backdrop: rgba(48, 48, 56, 0.4);
    --boxShadow: rgba(110, 110, 110, 0.202);
    --scrollBar: rgb(111, 109, 109);
}