.main-content {
    background: var(--background);
    margin-left: 280px;
    z-index: 2;
}

.all-content {
    margin-top: 60px;
    height: calc(100vh - 60px);
    width: calc(100vw - 280px);
    overflow: hidden;
    overflow-y: auto;
    color: var(--onSurface);
}

.__big {
    margin-left: 80px;
}

.__content__mobile {
    margin-left: 0;
}

.main-content.__big .all-content {
    width: calc(100vw - 80px) !important;
}

.main-content.__content__mobile .all-content {
    width: 100vw !important;
}