.navbar {
    position: fixed;
    width: 100vw;
    height: 64px;
    overflow: hidden;
    background-color: var(--elevation-level1);
    box-shadow: 0 0 0.625rem var(--boxShadow);
    z-index: 3;
}

.navbar-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 64px;
}

.navbar-content-info-container {
    height: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar-info {
    display: flex;
    order: 1;
}

.company-name {
    margin-left: 1rem !important;
    margin-right: 1rem !important;
    margin-top: auto !important;
    margin-bottom: auto !important;
    font-weight: 600 !important;
    white-space: nowrap;
}

.logo-image {
    margin-top: 0.4rem;
    margin-left: 1.3rem;
    width: 50px;
    height: 50px;
    user-select: none;
}

.container-but-menu,
.container-but-settings {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    order: 2;
}

.but-menu {
    border: 0px;
    cursor: pointer;
    float: right;
}

.navbar-user-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-right: 1rem;
}

.navbar-user-container-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.navbar-user-container-profile-details {
    max-width: 120px;
    overflow: hidden;
}

.navbar-user-container-profile-details .MuiTypography-root {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}