.sidebar {
    position: fixed;
    left: 0;
    height: calc(100vh - 64px);
    top: 64px;
    width: 280px;
    background-color: var(--elevation-level1);
    box-shadow: 0 0 0.625rem var(--boxShadow);
    user-select: none;
    transition: width 0.3s ease;
    overflow: hidden !important;
    z-index: 2;
}

.sidebar.__drawer {
    height: 100vh;
    top: 0;
}

.navbar-content-info-container.__sidebar-nav {
    box-shadow: 0 0 0.625rem var(--boxShadow);
}

.menu {
    height: calc(100vh - 64px);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    overflow: hidden;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding-bottom: calc(64px + 1rem);
}

.sidebar.__drawer .menu {
    height: 100vh;
}

.menu::-webkit-scrollbar {
    display: none !important;
}

.menu-item-title {
    color: var(--primary);
    font-size: .785rem;
    padding-bottom: 0.6rem;
    margin-top: 1.1rem;
}

.menu .but-sidebar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 50px;
    width: 250px !important;
    border: 0;
    border-radius: 5px;
    background-color: transparent;
    color: var(--onSurface);
    position: relative;
    padding-left: 1rem;
    margin: 0.2rem 0;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    text-transform: none;
    text-decoration: none;
    opacity: 1;
    cursor: pointer;
}

.sidebar-sub-menu {
    margin-left: 2rem;
    padding-left: 1rem;
    border-left: 3px solid var(--primary);
    padding-bottom: -0.2rem;
}

.sidebar.__small .sidebar-sub-menu {
    display: none;
}

.sidebar-sub-menu .but-sidebar {
    width: calc(250px - 3.3rem) !important;
    margin-left: .1rem;
}

.menu .but-sidebar.active {
    background-color: var(--primary) !important;
    color: rgb(228, 225, 230) !important;
}

.sidebar .icon-but-sidebar {
    display: flex;
}

.sidebar .links-name-sidebar {
    max-width: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 13px;
    margin-left: 2rem;
    text-align: left;
    transition: opacity 0.2s ease-in-out;
}

.but-sidebar.__but__lvlDown {
    width: calc(250px - 6.5rem) !important;
}

.links-name-sidebar.__sub {
    margin-left: 0;
}

.__small {
    width: 80px;
}

.__sidebar__mobile {
    z-index: 5;
    transition: all 0.3s ease;
    transform: translateX(-105%);
}

.menu .but-sidebar.__small__but {
    width: 50px !important;
}

.__small__but__link {
    opacity: 0;
    height: 0;
}

.__small__header {
    margin-bottom: 1.4rem;
    font-size: 0;
    border-bottom: 2px solid var(--elevation-level5);
}