@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Open Sans", sans-serif !important;
}

body {
  background-color: var(--background);
  color: var(--onSurface);
}

p {
  font-size: 13px;
}

.app {
  display: flex;
  flex-direction: row;
  position: relative;
}

.container-main {
  flex: 1
}

.page-main {
  padding-top: 24px;
  padding-bottom: 24px;
}

@media screen and (min-width: 600px) {
  .page-main {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .MuiContainer-root {
    padding-left: 40px !important;
    padding-right: 40px !important;
  }
}

.arrow-but,
.arrow-but-drop-down {
  display: flex;
  margin-left: auto;
  margin-right: 1rem;
  transform: rotate(180deg);
  transition: transform 0.3s ease !important;
}

.arrow-but-drop-down {
  margin-right: 0;
}

.arrow-but.__arrow-but__rotate,
.arrow-but-drop-down.__arrow-but-drop-down__rotate {
  transform: rotateX(0deg);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollBar);
  border: 6px solid transparent;
  border-radius: 8px;
  background-clip: padding-box;
}

::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-moz-selection {
  -webkit-text-fill-color: rgb(228, 225, 230) !important;
  color: rgb(228, 225, 230) !important;
  background: var(--primary);
}

::selection {
  -webkit-text-fill-color: rgb(228, 225, 230) !important;
  color: rgb(228, 225, 230) !important;
  background: var(--primary);
}

.icon {
  color: var(--onSurface);
}

.MuiTooltip-tooltip {
  background-color: var(--elevation-level5) !important;
  color: var(--onSurface) !important;
  box-shadow: 0 0 0.625rem var(--boxShadow) !important;
}

.MuiListItemButton-root {
  padding: 6px 14px !important;
}

.MuiListItemButton-root:hover {
  background-color: var(--secondaryContainer) !important;
}

.MuiListItemButton-root .MuiListItemText-primary {
  font-size: 13px !important;
}

.MuiButton-root.MuiButton-contained.secundary {
  color: var(--onSurface) !important;
  background-color: var(--secondaryContainer);
}

.MuiButton-root.MuiButton-contained.secundary:hover {
  background-color: var(--elevation-level4);
}

.MuiButton-root.MuiButton-contained {
  min-height: 45px !important;
  padding: 8px 16px !important;
  border-radius: 8px !important;
}

.MuiButton-root.MuiButton-contained {
  color: rgb(228, 225, 230) !important;
}

.MuiButton-contained.MuiLoadingButton-loading {
  color: transparent !important;
  background-color: var(--primary) !important;
}

.MuiLoadingButton-loadingIndicator {
  color: rgb(228, 225, 230) !important;
}

.MuiButton-containedPrimary {
  box-shadow: 0 0 0.625rem var(--boxShadow) !important;
  color: rgb(228, 225, 230) !important;
}

.MuiButtonBase-root {
  text-transform: none !important;
}

.MuiIconButton-root:hover {
  background-color: var(--elevation-level5) !important;
}

.MuiIconButton-root.primary {
  background-color: var(--primary) !important;
  box-shadow: 0 0 0.625rem var(--boxShadow) !important;
  color: rgb(228, 225, 230) !important;
}

.MuiIconButton-root.primary:hover {
  background-color: var(--primaryHover) !important;
}

.MuiDialog-container .MuiDialog-paper {
  border-radius: 12px !important;
  width: 600px;
  background-color: var(--background) !important;
  color: var(--onSurface) !important;
}

@media screen and (max-width: 600px) {
  .MuiDialog-container .MuiDialog-paper {
    border-radius: 0px !important;
  }
}

.MuiAutocomplete-root .MuiIconButton-root {
  color: var(--onSurface) !important;
}

.MuiPopover-paper {
  background-color: var(--elevation-level2) !important;
  color: var(--onSurface) !important;
  box-shadow: 0 0 1rem var(--boxShadow) !important;
}

.MuiPopover-paper .MuiListItem-root .MuiButtonBase-root {
  border-radius: 10px;
  margin: 0 8px;
}

.MuiFormLabel-root.MuiInputLabel-root.Mui-focused {
  font-size: 1rem !important;
  color: var(--onSurface) !important;
}

input,
textarea {
  font-size: .775rem !important;
  color: var(--onSurface);
  -webkit-text-fill-color: var(--onSurface);
  caret-color: var(--onSurface);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px var(--elevation-level2) inset !important;
  border-radius: 12px !important;
}

.MuiDrawer-paper {
  color: var(--onSurface) !important;
  width: 280px !important;
  overflow: hidden !important;
}

.MuiChip-root {
  font-size: 0.7125rem !important;
  font-weight: 700;
}

.MuiChip-colorDefault {
  background-color: var(--surfaceVariant) !important;
  color: var(--onSurface) !important;
}

.MuiTypography-h3 {
  font-size: 1.6rem !important;
  font-weight: 600 !important;
}

.MuiTypography-h4 {
  font-size: 1.4rem !important;
  font-weight: 600 !important;
}

.MuiTypography-h6 {
  font-size: 1rem !important;
}

.MuiAvatar-root {
  background-color: var(--surfaceVariant) !important;
}

.MuiAvatar-root .MuiSvgIcon-root {
  color: var(--onSurface);
}

.MuiDrawer-root .MuiPaper-root {
  border-radius: 0px !important;
}

.MuiPaper-root {
  color: var(--onSurface) !important;
  border-radius: 12px !important;
  box-shadow: 0 0 0.465rem var(--boxShadow) !important;
}

.MuiPaper-elevation1 {
  background-color: var(--elevation-level1) !important;
}

.MuiPaper-elevation2 {
  background-color: var(--elevation-level2) !important;
}

.MuiPaper-elevation3 {
  background-color: var(--elevation-level3) !important;
}

.MuiPaper-elevation4 {
  background-color: var(--elevation-level4) !important;
}

.MuiPaper-elevation5 {
  background-color: var(--elevation-level5) !important;
}

.MuiTabs-scrollButtons {
  border-radius: 50% !important;
  width: 40px;
  height: 40px;
}

.MuiTabs-scrollButtons.Mui-disabled {
  opacity: 0.2 !important;
}

.MuiGrid-root {
  margin-top: 0 !important;
}

.MuiButtonBase-root {
  transition: background-color 0.3s ease !important;
}

.MuiButtonBase-root.MuiTab-root {
  color: var(--outline) !important;
  min-height: 48px;
  flex-direction: row !important;
  gap: 10px !important;
  justify-content: center !important;
  text-transform: none !important;
  transition: color 0.3s ease !important;
}

.MuiButtonBase-root.MuiTab-root:hover {
  color: var(--onSurface) !important;
  background-color: transparent !important;
}

.MuiButtonBase-root.MuiTab-root>.MuiTab-iconWrapper {
  margin-bottom: 0 !important;
}

.MuiButtonBase-root.MuiTab-root.Mui-selected {
  color: var(--onSurface) !important;
}

.MuiTabs-indicator {
  height: 3px !important;
  border-radius: 10px;
}

.MuiFormHelperText-root {
  font-weight: 500 !important;
  margin-bottom: 8px !important;
}

.apexcharts-xaxistooltip-bottom {
  display: none;
}

.apexcharts-tooltip {
  border: 0 !important;
  color: var(--onSurface) !important;
  background-color: var(--elevation-level4) !important;
  box-shadow: 0 0 0.625rem var(--boxShadow) !important;
}

.apexcharts-tooltip .apexcharts-tooltip-title {
  padding: .4rem .8rem;
  font-size: 0.845rem !important;
  font-weight: 600 !important;
  text-align: center;
  background-color: var(--elevation-level2) !important;
  border-bottom: none !important;
}