@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Open Sans", sans-serif !important;
}

body {
  background-color: var(--background);
  color: var(--onSurface);
}

p {
  font-size: 13px;
}

.app {
  display: flex;
  flex-direction: row;
  position: relative;
}

.container-main {
  flex: 1
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollBar);
  border: 6px solid transparent;
  border-radius: 8px;
  background-clip: padding-box;
}

::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-moz-selection {
  -webkit-text-fill-color: white !important;
  color: white !important;
  background: var(--primary);
}

::selection {
  -webkit-text-fill-color: white !important;
  color: white !important;
  background: var(--primary);
}

.icon {
  color: var(--onSurface);
}

.MuiTooltip-tooltip {
  background-color: var(--elevation-level5) !important;
  color: var(--onSurface) !important;
  box-shadow: 0 0 0.625rem var(--boxShadow) !important;
}

.MuiCircularProgress-root {
  color: var(--primary) !important;
}

.MuiFormLabel-root {
  user-select: none;
  font-weight: 800 !important;
}

.MuiButtonBase-root:hover {
  background-color: var(--elevation-level5) !important;
}

.MuiDialog-paper {
  background-color: var(--background) !important;
  color: var(--onSurface) !important;
}

.MuiPopover-paper {
  color: var(--onSurface) !important;
  background-color: var(--primary) !important;
  box-shadow: 0 0 1rem var(--boxShadow) !important;
}

.MuiPopover-paper .MuiList-root .MuiButtonBase-root {
  font-size: 13px !important;
}

.MuiFormLabel-root.MuiInputLabel-root {
  color: var(--outline) !important;
  font-weight: 550 !important;
}

.MuiFormLabel-root.MuiInputLabel-root.Mui-focused {
  color: var(--onSurface) !important;
}

.MuiButtonBase-root.MuiSwitch-switchBase.Mui-checked {
  color: var(--primary) !important;
}

.MuiSwitch-track {
  background-color: var(--primary) !important;
}

.MuiInputBase-input {
  padding: 18.5px 14px !important;
}

.MuiInputBase-root {
  border-radius: 8px !important;
  background-color: transparent;
}

.MuiOutlinedInput-notchedOutline {
  border: 2px solid var(--elevation-level5) !important;
  padding: 0;
}

.MuiInputBase-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: var(--outline) !important;
}

.Mui-focused .MuiOutlinedInput-notchedOutline,
.Mui-focused:hover .MuiOutlinedInput-notchedOutline {
  border: 2px solid var(--primary) !important;
}

input {
  font-size: 13px !important;
  color: var(--onSurface);
  -webkit-text-fill-color: var(--onSurface);
  caret-color: var(--onSurface);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px var(--elevation-level2) inset !important;
}

.MuiDrawer-paper {
  color: var(--onSurface) !important;
  background-color: var(--primary-color) !important;
  width: 336px !important;
}

.Toastify__toast {
  border-radius: 5px !important;
  background-color: var(--primary-color) !important;
  box-shadow: 0 0 1rem var(--boxShadow) !important;
  color: var(--onSurface) !important;
}

.Toastify__toast-body {
  user-select: none;
}

.Toastify__toast-icon {
  margin-inline-end: .8rem !important;
}

.Toastify__close-button {
  color: var(--onSurface) !important;
}

@media screen and (max-width: 480px) {
  .Toastify__toast {
    margin: 0.5rem;
  }
}